<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>

  <link rel="stylesheet" href="../static/css/common.css">
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/data.js"></script>
  <style>
  body{
    background-image: url('../static/images/bg/bg_02.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;

    
  }
  </style>
  
</head>

<body>

  <header>
    <h1>HEADER</h1>
    
  </header>

  <main>
    <h1>MAIN</h1>
    <img id="image" src="" alt="">
  </main>

  <footer>
    <h1>FOOTER</h1>
  </footer>

  <script>
      url = pic[4].location
      $('img').attr('src',url)
      $('img').attr('width','100px')
      console.log(bgimg[1])
  </script>
</body>

</html>